{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tinder Joke</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/pages/loginpage.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/logincard.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
        <!-- Vue Js Link -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://kit.fontawesome.com/6fa4ec11e9.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <!--  -->
    </head>
    <body id="app">

        {% csrf_token %}
        <navbar-sec></navbar-sec>
        <login-card :csrfval="csrfValue"></login-card>

        <!-- Import Our App -->
        <script src="{% static 'views/loginPage.js' %}"></script>
        <!-- Import Our Navbar component -->
        <script src="{% static 'components/navbar.js' %}"></script>
        <script src="{% static 'components/logincard.js' %}"></script>
        <script>app.mount("#app")</script>  
    </body>
</html>