<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tinder | Dating, Make Friends & Meet New People</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'allauth/account/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'allauth/socialaccount/style.css' %}">
    </head>
    <body>
        {% load socialaccount %}

        <a id="google-btn" href="{% provider_login_url 'google' %}">Login with Google</a>
        <a href="/logout">Logout</a>
        <hr>
        <h1>Register Page</h1>
        <hr>

        <form action="" method="post">
            {% csrf_token %}
            <label for="">firstname</label>
            <input type="text" name="firstname" maxlength="150" autofocus="" required="" id="id_username">
            <br>
            <label for="">lastname</label>
            <input type="text" name="lastname" maxlength="150" autofocus="" required="" id="id_username">
            <br>
            <label for="">Email</label>
            <input type="email" name="email" maxlength="254" id="id_email" required="">
            <br>
            <label for="">Password</label>
            <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
            <br>
            <label for="">Password Confirmation</label>
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
            <br>
            <button>Send Request</button>
        </form>


        <script>
            var providerLoginUrl = "{% provider_login_url 'google' %}";
            console.log(providerLoginUrl);
            console.log(providerLoginUrl);
            console.log(providerLoginUrl);
        </script>


    </body>
</html>



<style>
    a#google-btn {
        border: 1px solid black;
        width: 100%;
        height: 57px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        background: #333333;
        color: white;
    }
</style>