


.background-layer {
    /* border: 1px solid gray; */
    height: 100vh;
    background-color: #F8F8F8;
    background-image: url("https://tinder.com/static/build/07eef8b101ca939c978a599f508aa955.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /* position */
    position: fixed;
    width: 100%;
}


.background-layer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
}




@media (max-width:1100px) {
    .background-layer::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(203deg,rgb(34 34 34 / 31%),rgb(0 0 0));
        opacity: 0.6;
    } 
}